body {
    font-size: 32px;
    font-weight: 700;
    font-family: Manrope, sans-serif;
    line-height: 43.71px;
    text-align: center;


    & > *:not(:last-child) {
        margin-bottom: 36px;
    }
}
.counter {
    margin-top: 126px;

}

.btn {
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 100px;
    border-radius: 20px;
    border: none;
    font: inherit;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: .9;
    }

    &_plus {
        background-color: #4191FF;
    }
    &_reset {
        background-color: #D45366;
    }


}
